# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore most of IDEA settings
.idea/*
!.idea/codeStyles/
!.idea/deployment.xml
!.idea/vcs.xml
